footer
  .container.text-center
<<<<<<< HEAD

=======
    p.pull-left © 2015 Scott Litwiller
    ul.pull-right.list-inline
      li
        a(href='https://github.com/sdlitwi/mgwaterdrive') GitHub Project
      li
        a(href='https://github.com/sdlitwi/mgwaterdrive/issues') Issues
>>>>>>> dev
