extends layout

block content
  h1 MG Water Drive
  p.lead Track water for WOW points
  hr
  .row
    .col-sm-6
      h2 Why Drink More Water?
      p
        ul
          li reason 1
          li reason 2
          li reason 3
    .col-sm-6
      img.img-responsive(src='public/water.jpg')
      h2 Did You Drink Your Water Today?
      p 2 full bottles or ~50oz
      p
        a.btn.btn-default(href='#', role='button') YES!! »
