extends layout

block content
  
    .col-sm-12
      img.img-responsive(src='/images/droplet.png', style='margin-left: auto; margin-right: auto; padding-right:3%; max-height:400px;')
  
    .col-sm-12
      div(style='text-align:center;')
        if user
          h2 Did You Drink Your Water Today?
          p (2 full bottles or ~50oz)
          p
            form(action='/account/logwaterday', method='POST')
              a.btn.btn-lg(href='#', role='button') YES
            a.btn.btn-lg(href='#', role='button') NO
            p To date you have completed 
              strong #{user.profile.totalWaterDaysCompleted }
              span out of 
              strong 16
              span  days
        else
          Please log in above to get started.
            

      
