extends layout

block content
  
    .col-sm-12
      img.img-responsive(src='/images/droplet.png', style='margin-left: auto; margin-right: auto; padding-right:3%; max-height:400px;')
  
    .col-sm-12
      div(style='text-align:center;')
        if user
          h2 Did You Drink Your Water Today?
          p (2 full bottles or ~50oz)
          p
            table(style='margin-left: auto; margin-right: auto;')
              tr
                td
                  form(action='/account/logwaterday', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    button.btn.btn-lg(type='submit', style='color: #4d90fc;background-color:transparent;') YES
                td
                  a.btn.btn-lg(href='#', role='button' onclick='randomLink();') NO
            p To date you have completed 
              strong #{user.totalWaterDaysCompleted || 0}&nbsp;
              if(user.totalWaterDaysCompleted == 1)
                span day
              else
                span days
        else
          p
            strong Please log in above to get started.
            

      
